---
layout: default
id: home
description: Reliable mobile Bluetooth
backgrounds:
  case_study: green
  team: dark-blue
---

<div class="section section-card section-card-offset-top promo-cards">
  <div class="section-content">
    {% include case-studies.html %}
  </div>
</div>

<div class="section pt-1">
  <div class="section-content">
    <div class="row">
      <div class="col">
        <h2>Blog Highlights</h2>        
      </div>
    </div>
    {% assign limit = 6 %}
    {% include blog-posts.html %}
    <div class="row pt-5">
      <div class="col text-center">
        <a href="/blog" class="btn btn-secondary btn-sm">See All Posts</a>
      </div>
    </div>
  </div>
</div>

<div class="section pt-3">
  <div class="section-content">
    <div class="row">
      <div class="col">
        <h2>License</h2>        
      </div>
    </div>
<p>

All Herald works are Copyright 2020-2021 Herald Project Contributors
</p><p>
The code for Herald is Apache-2.0 licensed. Our hardware designs are licensed under the CERN Open Hardware License - Permissive - V2. The documentation for Herald, including this website, is available under the Creative Commons Attribution 4.0 International Public License.
</p><p>
See LICENSE.txt and NOTICE.txt for details.
</p>
  </div>
</div>


<div class="section section-background-{{ page.backgrounds.team }}">
  <div class="section-content">
    {% include contributors.html %}
  </div>
</div>