<div class="row">
{% for cs in site.casestudies %}
    <div class="card card-dark col-md-6 mb-3 mb-sm-0 {% if forloop.index > 2 %}mt-3{% endif %}">
        <div class="card-body match-height text-center">
            {% if cs.title != blank %}
            <h5 class="card-title">{{ cs.title }}</h5>
            {% endif %}
            {% if cs.icon != blank %}
            <img class="card-icon" src="{{ cs.icon }}"/>
            {% endif %}
            {% if cs.subtitle != blank %}
            <h6 class="card-subtitle mb-2">{{ cs.subtitle }}</h6>
            {% endif %}
            <p class="card-text">{{ cs.content | markdownify }}</p>
            {% for link in cs.links %}
            <a class="card-link btn btn-primary" href="{{ link[1] }}">{{ link[0] }}</a>
            {% endfor %}
        </div>
    </div>
        {% if limit > 0 and forloop.index >= limit %}
            {% break %}
        {% endif %}
{% endfor %}
</div>