<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03. Project upstream</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03. Project upstream</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0e96ced69a8946f89bb3b0e36bbe37fa.png" alt="03. Project upstream" usemap="#id-0e96ced69a8946f89bb3b0e36bbe37famap"/>
			   <map name="id-0e96ced69a8946f89bb3b0e36bbe37famap">
				  		<area shape="rect" coords="70,46,190,101" href="../elements/id-ffbee913493d48a99003f7660dea6546.html"  target="element">
				  		<area shape="rect" coords="526,131,646,186" href="../elements/id-5e6bbacaa9454672a17d92ab6b3325e5.html"  target="element">
				  		<area shape="rect" coords="526,47,646,102" href="../elements/id-741bab8a32dd4535a3a8fdb7fa2edb48.html"  target="element">
				  		<area shape="rect" coords="250,46,370,101" href="../elements/id-caf2cfa9c9554d0aa0b1d3f11d46b16b.html"  target="element">
				  		<area shape="rect" coords="886,46,1006,101" href="../elements/id-431be9a06a5a4a1f812dfbc92630170a.html"  target="element">
				  		<area shape="rect" coords="706,46,826,101" href="../elements/id-3428171376e64b2292e3749e8c19f0ad.html"  target="element">
				  		        <area shape="rect" coords="46,306,347,372" href="../objects/id-a92a56b9b3f34ae899d3b99c3d084e10.html" target="element" >
				  				<area shape="rect" coords="886,311,1006,366" href="../elements/id-5eb7e11bc6ba4f59873f2b6299354150.html"  target="element">
				  				<area shape="rect" coords="706,239,826,294" href="../elements/id-fb1a3ed30a624782997415826f6dc6e1.html"  target="element">
				  				<area shape="rect" coords="346,275,466,330" href="../elements/id-843a03e4c5b045489fa8c29418df2933.html"  target="element">
				  				<area shape="rect" coords="166,239,286,294" href="../elements/id-1b1c5e97026745fca7aabd3602943c83.html"  target="element">

				          <area shape="rect" coords="10,203,1043,384" href="../objects/id-84721331c15b440e818971b00897da57.html" target="element" >
				          <area shape="rect" coords="490,10,1043,119" href="../objects/id-c81593c5787145d9954ab941163ea5c2.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-c81593c5787145d9954ab941163ea5c2.html" target="element"> Exists today outside of Herald </a> </td>
									           <td> <a href="../objects/id-c81593c5787145d9954ab941163ea5c2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-84721331c15b440e818971b00897da57.html" target="element"> Exists today within Herald </a> </td>
									           <td> <a href="../objects/id-84721331c15b440e818971b00897da57.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-1b1c5e97026745fca7aabd3602943c83.html" target="element"> Herald Hardware </a> </td>
													    <td> <a href="../elements/id-1b1c5e97026745fca7aabd3602943c83.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-843a03e4c5b045489fa8c29418df2933.html" target="element"> Herald for C++ </a> </td>
													    <td> <a href="../elements/id-843a03e4c5b045489fa8c29418df2933.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fb1a3ed30a624782997415826f6dc6e1.html" target="element"> Herald for Android </a> </td>
													    <td> <a href="../elements/id-fb1a3ed30a624782997415826f6dc6e1.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5eb7e11bc6ba4f59873f2b6299354150.html" target="element"> Herald for iOS </a> </td>
													    <td> <a href="../elements/id-5eb7e11bc6ba4f59873f2b6299354150.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-a92a56b9b3f34ae899d3b99c3d084e10.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a92a56b9b3f34ae899d3b99c3d084e10.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-3428171376e64b2292e3749e8c19f0ad.html" target="element"> OpenTrace for Android </a> </td>
											    <td> <a href="../elements/id-3428171376e64b2292e3749e8c19f0ad.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-431be9a06a5a4a1f812dfbc92630170a.html" target="element"> OpenTrace for iOS </a> </td>
											    <td> <a href="../elements/id-431be9a06a5a4a1f812dfbc92630170a.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-caf2cfa9c9554d0aa0b1d3f11d46b16b.html" target="element"> OpenTrace for Wearables </a> </td>
											    <td> <a href="../elements/id-caf2cfa9c9554d0aa0b1d3f11d46b16b.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-741bab8a32dd4535a3a8fdb7fa2edb48.html" target="element"> OpenTrace Cloud Functions </a> </td>
											    <td> <a href="../elements/id-741bab8a32dd4535a3a8fdb7fa2edb48.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5e6bbacaa9454672a17d92ab6b3325e5.html" target="element"> Herald for Node.js </a> </td>
											    <td> <a href="../elements/id-5e6bbacaa9454672a17d92ab6b3325e5.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ffbee913493d48a99003f7660dea6546.html" target="element"> OpenTrace Beacons </a> </td>
											    <td> <a href="../elements/id-ffbee913493d48a99003f7660dea6546.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-f0957815e40e4aa38d4a6d34ecf2d038.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f0957815e40e4aa38d4a6d34ecf2d038.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/id-fb1a3ed30a624782997415826f6dc6e1.html" target="element"> Herald for Android </a> </td>
																				<td> <a href="../elements/id-843a03e4c5b045489fa8c29418df2933.html" target="element"> Herald for C++ </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7cfde6bb1c2b456597f6ba6c1c2aa9fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7cfde6bb1c2b456597f6ba6c1c2aa9fb.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/id-5eb7e11bc6ba4f59873f2b6299354150.html" target="element"> Herald for iOS </a> </td>
																				<td> <a href="../elements/id-843a03e4c5b045489fa8c29418df2933.html" target="element"> Herald for C++ </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0681b5d17fa74704a73edabbdd5b6b36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0681b5d17fa74704a73edabbdd5b6b36.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3428171376e64b2292e3749e8c19f0ad.html" target="element"> OpenTrace for Android </a> </td>
																		<td> <a href="../elements/id-fb1a3ed30a624782997415826f6dc6e1.html" target="element"> Herald for Android </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-576dbd0adfe3498ca8afa5edbe383c9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-576dbd0adfe3498ca8afa5edbe383c9f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-431be9a06a5a4a1f812dfbc92630170a.html" target="element"> OpenTrace for iOS </a> </td>
																		<td> <a href="../elements/id-5eb7e11bc6ba4f59873f2b6299354150.html" target="element"> Herald for iOS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2e50d30edfa44d9f812e6a220e1cd929.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e50d30edfa44d9f812e6a220e1cd929.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-caf2cfa9c9554d0aa0b1d3f11d46b16b.html" target="element"> OpenTrace for Wearables </a> </td>
																		<td> <a href="../elements/id-1b1c5e97026745fca7aabd3602943c83.html" target="element"> Herald Hardware </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-05f0ccb337734e9589b24b7a83fb6a24.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05f0ccb337734e9589b24b7a83fb6a24.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-caf2cfa9c9554d0aa0b1d3f11d46b16b.html" target="element"> OpenTrace for Wearables </a> </td>
																		<td> <a href="../elements/id-843a03e4c5b045489fa8c29418df2933.html" target="element"> Herald for C++ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1b78d4bdb9384df7b58fb1d96f8da077.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b78d4bdb9384df7b58fb1d96f8da077.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-741bab8a32dd4535a3a8fdb7fa2edb48.html" target="element"> OpenTrace Cloud Functions </a> </td>
																		<td> <a href="../elements/id-5e6bbacaa9454672a17d92ab6b3325e5.html" target="element"> Herald for Node.js </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-80ef43bba8aa4783b416bacd8aef4266.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80ef43bba8aa4783b416bacd8aef4266.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-5e6bbacaa9454672a17d92ab6b3325e5.html" target="element"> Herald for Node.js </a> </td>
																		<td> <a href="../elements/id-843a03e4c5b045489fa8c29418df2933.html" target="element"> Herald for C++ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29c3271af5a845be8bf1abbff25e878b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29c3271af5a845be8bf1abbff25e878b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ffbee913493d48a99003f7660dea6546.html" target="element"> OpenTrace Beacons </a> </td>
																		<td> <a href="../elements/id-1b1c5e97026745fca7aabd3602943c83.html" target="element"> Herald Hardware </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-63efd5ff732e412e9ba6217b0065f099.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63efd5ff732e412e9ba6217b0065f099.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ffbee913493d48a99003f7660dea6546.html" target="element"> OpenTrace Beacons </a> </td>
																		<td> <a href="../elements/id-843a03e4c5b045489fa8c29418df2933.html" target="element"> Herald for C++ </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>