<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02. Personae</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02. Personae</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-91fdc3c49fe543dd8d92431b40d176ba.png" alt="02. Personae" usemap="#id-91fdc3c49fe543dd8d92431b40d176bamap"/>
			   <map name="id-91fdc3c49fe543dd8d92431b40d176bamap">
				  		<area shape="rect" coords="1186,142,1306,197" href="../elements/id-643560d60a1c4a4d94b611a1d70c58ad.html"  target="element">
				  				<area shape="rect" coords="370,538,490,593" href="../elements/id-d75b8c09e0354541a377dfef98c0b2dd.html"  target="element">
				  				<area shape="rect" coords="58,538,178,593" href="../elements/id-822d39c13df243f7b36df4224e33978b.html"  target="element">
				  				<area shape="rect" coords="214,538,334,593" href="../elements/id-49b327ade93e4f6198a135f01c87632e.html"  target="element">

				  		<area shape="rect" coords="10,478,1007,633" href="../elements/id-8565dd6cc48345d9a211867dfcd3d144.html"  target="element">
				  				<area shape="rect" coords="58,129,178,184" href="../elements/id-c006d333a0f84b2b8e73ce11297115c0.html"  target="element">
				  				<area shape="rect" coords="214,129,334,184" href="../elements/id-67bbe62fca994bea9be9d4d181562d96.html"  target="element">
				  				<area shape="rect" coords="58,46,178,101" href="../elements/id-7d8d1ace9f1e41d3863de1322fbbf493.html"  target="element">
				  				<area shape="rect" coords="214,46,334,101" href="../elements/id-b2d31924b69848b9a9fde4057def4b99.html"  target="element">
				  				<area shape="rect" coords="370,129,490,184" href="../elements/id-1f3ae576a76f4e2fbcd5121423ac0828.html"  target="element">
				  				<area shape="rect" coords="538,46,658,101" href="../elements/id-73c57cc5d6434ff2a6a485200334f63f.html"  target="element">
				  				<area shape="rect" coords="370,46,490,101" href="../elements/id-f56a92cf566b4c65a414dd9cb0a4118d.html"  target="element">

				  		<area shape="rect" coords="10,10,1007,359" href="../elements/id-9880d6964d724b188faacf05d6a088bb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element"> Herald Users </a> </td>
											    <td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f56a92cf566b4c65a414dd9cb0a4118d.html" target="element"> DCT App User </a> </td>
													    <td> <a href="../elements/id-f56a92cf566b4c65a414dd9cb0a4118d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-73c57cc5d6434ff2a6a485200334f63f.html" target="element"> Vulnerable Community </a> </td>
													    <td> <a href="../elements/id-73c57cc5d6434ff2a6a485200334f63f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f3ae576a76f4e2fbcd5121423ac0828.html" target="element"> Contact Tracer </a> </td>
													    <td> <a href="../elements/id-1f3ae576a76f4e2fbcd5121423ac0828.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2d31924b69848b9a9fde4057def4b99.html" target="element"> DCT App Developer </a> </td>
													    <td> <a href="../elements/id-b2d31924b69848b9a9fde4057def4b99.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7d8d1ace9f1e41d3863de1322fbbf493.html" target="element"> Epidemiologist-Developer </a> </td>
													    <td> <a href="../elements/id-7d8d1ace9f1e41d3863de1322fbbf493.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-67bbe62fca994bea9be9d4d181562d96.html" target="element"> Public Health Authority (PHA) </a> </td>
													    <td> <a href="../elements/id-67bbe62fca994bea9be9d4d181562d96.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c006d333a0f84b2b8e73ce11297115c0.html" target="element"> Epidemiologist </a> </td>
													    <td> <a href="../elements/id-c006d333a0f84b2b8e73ce11297115c0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8565dd6cc48345d9a211867dfcd3d144.html" target="element"> Threat Actors </a> </td>
											    <td> <a href="../elements/id-8565dd6cc48345d9a211867dfcd3d144.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-49b327ade93e4f6198a135f01c87632e.html" target="element"> Domestic Abuser </a> </td>
													    <td> <a href="../elements/id-49b327ade93e4f6198a135f01c87632e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-822d39c13df243f7b36df4224e33978b.html" target="element"> Hostile State Actor </a> </td>
													    <td> <a href="../elements/id-822d39c13df243f7b36df4224e33978b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d75b8c09e0354541a377dfef98c0b2dd.html" target="element"> Organised Crime </a> </td>
													    <td> <a href="../elements/id-d75b8c09e0354541a377dfef98c0b2dd.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-643560d60a1c4a4d94b611a1d70c58ad.html" target="element"> Herald Developer </a> </td>
											    <td> <a href="../elements/id-643560d60a1c4a4d94b611a1d70c58ad.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d5022179e1e84f98ae33ef288ff8b13a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5022179e1e84f98ae33ef288ff8b13a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element"> Herald Users </a> </td>
																		<td> <a href="../elements/id-f56a92cf566b4c65a414dd9cb0a4118d.html" target="element"> DCT App User </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-18b6f60efe86427fae723d4903e4c54b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18b6f60efe86427fae723d4903e4c54b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element"> Herald Users </a> </td>
																		<td> <a href="../elements/id-73c57cc5d6434ff2a6a485200334f63f.html" target="element"> Vulnerable Community </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e99678bb3cf44c63bda78d146bba7e99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e99678bb3cf44c63bda78d146bba7e99.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element"> Herald Users </a> </td>
																		<td> <a href="../elements/id-1f3ae576a76f4e2fbcd5121423ac0828.html" target="element"> Contact Tracer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d41c0f30c011453da21a7128f5d9c37c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d41c0f30c011453da21a7128f5d9c37c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element"> Herald Users </a> </td>
																		<td> <a href="../elements/id-b2d31924b69848b9a9fde4057def4b99.html" target="element"> DCT App Developer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9001518d1ba44a568b880a51a789c725.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9001518d1ba44a568b880a51a789c725.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element"> Herald Users </a> </td>
																		<td> <a href="../elements/id-7d8d1ace9f1e41d3863de1322fbbf493.html" target="element"> Epidemiologist-Developer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2f61ea57a61049248017be45a7258244.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f61ea57a61049248017be45a7258244.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element"> Herald Users </a> </td>
																		<td> <a href="../elements/id-67bbe62fca994bea9be9d4d181562d96.html" target="element"> Public Health Authority (PHA) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3920811fcc4d4f90becc4c685a8a7f05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3920811fcc4d4f90becc4c685a8a7f05.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element"> Herald Users </a> </td>
																		<td> <a href="../elements/id-c006d333a0f84b2b8e73ce11297115c0.html" target="element"> Epidemiologist </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cbcec8a238634d458b3f1d330a3306d0.html" target="element"> Seeks to harm </a> </td>
																		<td> <a href="../elements/id-cbcec8a238634d458b3f1d330a3306d0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element"> Herald Users </a> </td>
																		<td> <a href="../elements/id-8565dd6cc48345d9a211867dfcd3d144.html" target="element"> Threat Actors </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0c3cc0633052434e9cfe456e79dd942a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0c3cc0633052434e9cfe456e79dd942a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/id-73c57cc5d6434ff2a6a485200334f63f.html" target="element"> Vulnerable Community </a> </td>
																				<td> <a href="../elements/id-f56a92cf566b4c65a414dd9cb0a4118d.html" target="element"> DCT App User </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-eac9503f0aeb4171a94fb1de5e177888.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eac9503f0aeb4171a94fb1de5e177888.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8565dd6cc48345d9a211867dfcd3d144.html" target="element"> Threat Actors </a> </td>
																		<td> <a href="../elements/id-49b327ade93e4f6198a135f01c87632e.html" target="element"> Domestic Abuser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a3e5b17225804fbe8203f2f68014d9a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3e5b17225804fbe8203f2f68014d9a6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8565dd6cc48345d9a211867dfcd3d144.html" target="element"> Threat Actors </a> </td>
																		<td> <a href="../elements/id-822d39c13df243f7b36df4224e33978b.html" target="element"> Hostile State Actor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7d8b12b4ee6406bab52d6350b2c3712.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7d8b12b4ee6406bab52d6350b2c3712.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8565dd6cc48345d9a211867dfcd3d144.html" target="element"> Threat Actors </a> </td>
																		<td> <a href="../elements/id-d75b8c09e0354541a377dfef98c0b2dd.html" target="element"> Organised Crime </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7c2418fec7254cc0b7bfb1a7db388844.html" target="element"> Serves </a> </td>
																		<td> <a href="../elements/id-7c2418fec7254cc0b7bfb1a7db388844.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-643560d60a1c4a4d94b611a1d70c58ad.html" target="element"> Herald Developer </a> </td>
																		<td> <a href="../elements/id-9880d6964d724b188faacf05d6a088bb.html" target="element"> Herald Users </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>