<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01. Default View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01. Default View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f760f2b01d6e474099448f036c4aeb6b.png" alt="01. Default View" usemap="#id-f760f2b01d6e474099448f036c4aeb6bmap"/>
			   <map name="id-f760f2b01d6e474099448f036c4aeb6bmap">
				          <area shape="rect" coords="163,25,611,71" href="../objects/id-4770a4c1ccdf423e95cad638958ceed4.html" target="element" >
				  		        <area shape="rect" coords="22,358,1967,515" href="../objects/id-54a2ec261a80434496871aef1eeecca6.html" target="element" >
				  		        <area shape="rect" coords="22,526,1967,755" href="../objects/id-c38c72bb587147849dd7064e9ea6f454.html" target="element" >

				          <area shape="rect" coords="10,322,1986,767" href="../objects/id-2e184885207f4ec7b5b75563dea41698.html" target="element" >
				  				<area shape="rect" coords="178,250,298,305" href="../elements/id-0942d6ea77194a50851e284e1926c8ea.html"  target="element">
				  				<area shape="rect" coords="178,634,298,689" href="../elements/id-3a330eff39a04753a47dcfbe5da57b4d.html"  target="element">
				  						<area shape="rect" coords="1786,262,1906,317" href="../elements/id-80a5d2f153244387b6a223806931c47d.html"  target="element">
				  						<area shape="rect" coords="1654,262,1774,317" href="../elements/id-653f61afa04046398575231d1f6e6bf5.html"  target="element">
				  						<area shape="rect" coords="1786,190,1906,245" href="../elements/id-f8688fbd993c445fb50342d0c64ff68f.html"  target="element">
				  						<area shape="rect" coords="1654,190,1774,245" href="../elements/id-b4d59c86eabd461abc222a998d3b2c86.html"  target="element">

				  				<area shape="rect" coords="1618,154,1924,333" href="../elements/id-f98a3324ad5b42d2a6ad3d68ca81c118.html"  target="element">
				  				<area shape="rect" coords="1378,154,1498,209" href="../elements/id-07aed3982afd4c02a4655c7e79bbe121.html"  target="element">
				  						<area shape="rect" coords="1126,411,1246,466" href="../elements/id-c6a3d55d8add43f6bbded34552f4433c.html"  target="element">
				  						<area shape="rect" coords="1126,663,1246,718" href="../elements/id-2ac694f9523347a6952504ff56f459f0.html"  target="element">
				  						<area shape="rect" coords="1126,603,1246,658" href="../elements/id-2c50e5e6dbd64038ac41026be2198018.html"  target="element">

				  				<area shape="rect" coords="1090,154,1283,731" href="../elements/id-53bd2ce323c241408a6cca2f0f6570ae.html"  target="element">
				  				<area shape="rect" coords="898,154,1018,209" href="../elements/id-67a42775d42a4e37b3ea6c54ee00de04.html"  target="element">
				  								<area shape="rect" coords="645,650,802,705" href="../elements/id-c881a96a7f7946e09b42d55122b5e222.html"  target="element">
				  								<area shape="rect" coords="645,586,802,641" href="../elements/id-48837af447684078aa74a2e1bf331824.html"  target="element">

				  						<area shape="rect" coords="621,562,815,719" href="../elements/id-081cfc95f59e4db8827b7fda1415f194.html"  target="element">
				  						<area shape="rect" coords="658,190,778,245" href="../elements/id-d8ab67d4645f4e07b1e4f253bdda6315.html"  target="element">

				  				<area shape="rect" coords="598,154,827,731" href="../elements/id-20ca23a0aa5e41b6910a8afcc36c8b7c.html"  target="element">
				  				<area shape="rect" coords="394,154,514,209" href="../elements/id-19e650dd7e4c4cf2bec40ac424121f34.html"  target="element">

				  		<area shape="rect" coords="142,118,1955,743" href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html"  target="element">
				  		<area shape="rect" coords="989,10,1109,65" href="../elements/id-66d762f35e9e45e8b715f4b11252c819.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-66d762f35e9e45e8b715f4b11252c819.html" target="element"> Your Application </a> </td>
											    <td> <a href="../elements/id-66d762f35e9e45e8b715f4b11252c819.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element"> herald </a> </td>
											    <td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-19e650dd7e4c4cf2bec40ac424121f34.html" target="element"> analysis </a> </td>
													    <td> <a href="../elements/id-19e650dd7e4c4cf2bec40ac424121f34.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-20ca23a0aa5e41b6910a8afcc36c8b7c.html" target="element"> ble </a> </td>
													    <td> <a href="../elements/id-20ca23a0aa5e41b6910a8afcc36c8b7c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d8ab67d4645f4e07b1e4f253bdda6315.html" target="element"> filter </a> </td>
															    <td> <a href="../elements/id-d8ab67d4645f4e07b1e4f253bdda6315.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-081cfc95f59e4db8827b7fda1415f194.html" target="element"> zephyr </a> </td>
															    <td> <a href="../elements/id-081cfc95f59e4db8827b7fda1415f194.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-48837af447684078aa74a2e1bf331824.html" target="element"> ZephyrBLEReceiver </a> </td>
																	    <td> <a href="../elements/id-48837af447684078aa74a2e1bf331824.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-c881a96a7f7946e09b42d55122b5e222.html" target="element"> ZephyrBLETransmitter </a> </td>
																	    <td> <a href="../elements/id-c881a96a7f7946e09b42d55122b5e222.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-67a42775d42a4e37b3ea6c54ee00de04.html" target="element"> data </a> </td>
													    <td> <a href="../elements/id-67a42775d42a4e37b3ea6c54ee00de04.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-53bd2ce323c241408a6cca2f0f6570ae.html" target="element"> datatype </a> </td>
													    <td> <a href="../elements/id-53bd2ce323c241408a6cca2f0f6570ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2c50e5e6dbd64038ac41026be2198018.html" target="element"> mbedtls </a> </td>
															    <td> <a href="../elements/id-2c50e5e6dbd64038ac41026be2198018.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2ac694f9523347a6952504ff56f459f0.html" target="element"> tinycrypt </a> </td>
															    <td> <a href="../elements/id-2ac694f9523347a6952504ff56f459f0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c6a3d55d8add43f6bbded34552f4433c.html" target="element"> windows </a> </td>
															    <td> <a href="../elements/id-c6a3d55d8add43f6bbded34552f4433c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-07aed3982afd4c02a4655c7e79bbe121.html" target="element"> engine </a> </td>
													    <td> <a href="../elements/id-07aed3982afd4c02a4655c7e79bbe121.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f98a3324ad5b42d2a6ad3d68ca81c118.html" target="element"> payload </a> </td>
													    <td> <a href="../elements/id-f98a3324ad5b42d2a6ad3d68ca81c118.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b4d59c86eabd461abc222a998d3b2c86.html" target="element"> fixed </a> </td>
															    <td> <a href="../elements/id-b4d59c86eabd461abc222a998d3b2c86.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f8688fbd993c445fb50342d0c64ff68f.html" target="element"> simple </a> </td>
															    <td> <a href="../elements/id-f8688fbd993c445fb50342d0c64ff68f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-653f61afa04046398575231d1f6e6bf5.html" target="element"> beacon </a> </td>
															    <td> <a href="../elements/id-653f61afa04046398575231d1f6e6bf5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-80a5d2f153244387b6a223806931c47d.html" target="element"> extended </a> </td>
															    <td> <a href="../elements/id-80a5d2f153244387b6a223806931c47d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-3a330eff39a04753a47dcfbe5da57b4d.html" target="element"> ZephyrContext </a> </td>
													    <td> <a href="../elements/id-3a330eff39a04753a47dcfbe5da57b4d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0942d6ea77194a50851e284e1926c8ea.html" target="element"> DefaultContext </a> </td>
													    <td> <a href="../elements/id-0942d6ea77194a50851e284e1926c8ea.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-2e184885207f4ec7b5b75563dea41698.html" target="element"> platform specific </a> </td>
									           <td> <a href="../objects/id-2e184885207f4ec7b5b75563dea41698.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-c38c72bb587147849dd7064e9ea6f454.html" target="element"> Zephyr </a> </td>
											           <td> <a href="../objects/id-c38c72bb587147849dd7064e9ea6f454.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-54a2ec261a80434496871aef1eeecca6.html" target="element"> Windows </a> </td>
											           <td> <a href="../objects/id-54a2ec261a80434496871aef1eeecca6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-4770a4c1ccdf423e95cad638958ceed4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4770a4c1ccdf423e95cad638958ceed4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-165406c2f12644888f06a3d8f4631ba1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-165406c2f12644888f06a3d8f4631ba1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-66d762f35e9e45e8b715f4b11252c819.html" target="element"> Your Application </a> </td>
																		<td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element"> herald </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8cb164a110f1494ea36493b21bce5f98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8cb164a110f1494ea36493b21bce5f98.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element"> herald </a> </td>
																		<td> <a href="../elements/id-19e650dd7e4c4cf2bec40ac424121f34.html" target="element"> analysis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5cd531d003043f6b643a88efe56cc6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5cd531d003043f6b643a88efe56cc6b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element"> herald </a> </td>
																		<td> <a href="../elements/id-20ca23a0aa5e41b6910a8afcc36c8b7c.html" target="element"> ble </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a76b4402b9b64963a186aa747a74e530.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a76b4402b9b64963a186aa747a74e530.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element"> herald </a> </td>
																		<td> <a href="../elements/id-67a42775d42a4e37b3ea6c54ee00de04.html" target="element"> data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c0429cf876d49babba11711f4752fdc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c0429cf876d49babba11711f4752fdc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element"> herald </a> </td>
																		<td> <a href="../elements/id-53bd2ce323c241408a6cca2f0f6570ae.html" target="element"> datatype </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60f233756d5a48a385629e0592c187fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60f233756d5a48a385629e0592c187fd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element"> herald </a> </td>
																		<td> <a href="../elements/id-07aed3982afd4c02a4655c7e79bbe121.html" target="element"> engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-beb92a8ebfad484e8d781a6028517cf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-beb92a8ebfad484e8d781a6028517cf2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element"> herald </a> </td>
																		<td> <a href="../elements/id-f98a3324ad5b42d2a6ad3d68ca81c118.html" target="element"> payload </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71a66c2fe1454b438de7525559b0c8ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71a66c2fe1454b438de7525559b0c8ac.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element"> herald </a> </td>
																		<td> <a href="../elements/id-3a330eff39a04753a47dcfbe5da57b4d.html" target="element"> ZephyrContext </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1af4a1f09b543258a6db12164f9ab06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1af4a1f09b543258a6db12164f9ab06.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6eed701a5eae464daf4c4ce33b714377.html" target="element"> herald </a> </td>
																		<td> <a href="../elements/id-0942d6ea77194a50851e284e1926c8ea.html" target="element"> DefaultContext </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-94a6341158344235a4cb6341bfe4ef00.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-94a6341158344235a4cb6341bfe4ef00.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-20ca23a0aa5e41b6910a8afcc36c8b7c.html" target="element"> ble </a> </td>
																				<td> <a href="../elements/id-d8ab67d4645f4e07b1e4f253bdda6315.html" target="element"> filter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7d4fa4f03ebd446897b291337a8ddd36.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7d4fa4f03ebd446897b291337a8ddd36.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-20ca23a0aa5e41b6910a8afcc36c8b7c.html" target="element"> ble </a> </td>
																				<td> <a href="../elements/id-081cfc95f59e4db8827b7fda1415f194.html" target="element"> zephyr </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-f88594bfd93b4fe5ba0bf0b2ed626e23.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f88594bfd93b4fe5ba0bf0b2ed626e23.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-081cfc95f59e4db8827b7fda1415f194.html" target="element"> zephyr </a> </td>
																						<td> <a href="../elements/id-48837af447684078aa74a2e1bf331824.html" target="element"> ZephyrBLEReceiver </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-7e7d678a60d1463aa66a39406cb18d8c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-7e7d678a60d1463aa66a39406cb18d8c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-081cfc95f59e4db8827b7fda1415f194.html" target="element"> zephyr </a> </td>
																						<td> <a href="../elements/id-c881a96a7f7946e09b42d55122b5e222.html" target="element"> ZephyrBLETransmitter </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-4420f3e4d77c4083bd727657fe9dd051.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4420f3e4d77c4083bd727657fe9dd051.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-53bd2ce323c241408a6cca2f0f6570ae.html" target="element"> datatype </a> </td>
																				<td> <a href="../elements/id-2c50e5e6dbd64038ac41026be2198018.html" target="element"> mbedtls </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ee0519e11a044354b23f5416726a2298.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ee0519e11a044354b23f5416726a2298.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-53bd2ce323c241408a6cca2f0f6570ae.html" target="element"> datatype </a> </td>
																				<td> <a href="../elements/id-2ac694f9523347a6952504ff56f459f0.html" target="element"> tinycrypt </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e9ee0dbf732f4898af2aa2e65987dea2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e9ee0dbf732f4898af2aa2e65987dea2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-53bd2ce323c241408a6cca2f0f6570ae.html" target="element"> datatype </a> </td>
																				<td> <a href="../elements/id-c6a3d55d8add43f6bbded34552f4433c.html" target="element"> windows </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8bb3d499e00f4931b29d30b5eb619bce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8bb3d499e00f4931b29d30b5eb619bce.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-f98a3324ad5b42d2a6ad3d68ca81c118.html" target="element"> payload </a> </td>
																				<td> <a href="../elements/id-b4d59c86eabd461abc222a998d3b2c86.html" target="element"> fixed </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e73b76452a47403599826b1b18497611.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e73b76452a47403599826b1b18497611.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-f98a3324ad5b42d2a6ad3d68ca81c118.html" target="element"> payload </a> </td>
																				<td> <a href="../elements/id-f8688fbd993c445fb50342d0c64ff68f.html" target="element"> simple </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9ef7cbe9ea98408f81ad8bdb4d830c9a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9ef7cbe9ea98408f81ad8bdb4d830c9a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-f98a3324ad5b42d2a6ad3d68ca81c118.html" target="element"> payload </a> </td>
																				<td> <a href="../elements/id-653f61afa04046398575231d1f6e6bf5.html" target="element"> beacon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-886098929314408d81671abdd2acb1ca.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-886098929314408d81671abdd2acb1ca.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-f98a3324ad5b42d2a6ad3d68ca81c118.html" target="element"> payload </a> </td>
																				<td> <a href="../elements/id-80a5d2f153244387b6a223806931c47d.html" target="element"> extended </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>